<div class="container-fluid">
  <ul class="nav nav-tabs d-flex flex-row-reverse mb-3 align-items-center">
    <li class="m-2">
      <a href=<%= @profile_url %>> <%= @user_name %> </a>
    </li>
    <li class="m-2">
      <a href=<%= @profile_url %>>
        <%= image_tag @user_picture, size: "60x60" %>
      </a>
    </li>
    <li class="m-2 flex-fill">
      <h1 class="h3">Code Contribution Calculator</h1>
    </li>
  </ul>
  <div class="row mx-3">
    <table class="table table-dark">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Repo Name</th>
        <th scope="col">Language</th>
        <th scope="col">Last updated</th>
      </tr>
      </thead>
      <tbody>
      <% i = 1 %>
      <% @repos.each do |repo| %>
        <tr onclick="location.href='<%= "/repos/" + i.to_s %>'" role=button>
          <th scope="row"><%= i %></th>
          <td class="name"> <%= repo[:full_name] %> </td>
          <td> <%= repo[:language] %> </td>
          <td> <%= repo[:updated_at] %> </td>
          <% i += 1 %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>
